.home {
  height: 100%;
  width: 100%;
  margin-top: 80px;
}

.home-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.home-hero img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
  filter: brightness(0.5);
}

.home-hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px;
}

.home-hero-text h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home-hero-text h2 {
  font-size: 2rem;
  font-weight: 500;
}

.home-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
}

.home-about p {
  font-size: 2rem;
}